# Ignorer les propriétés de l'application
backend/src/main/resources/application.properties

# Ignorer les fichiers spécifiques à IntelliJ IDEA
backend/.idea/
backend/.idea/*
backend/target/

frontend/.expo/
frontend/.expo/*
frontend/.gitignore
frontend/node_modules/
